## Slicing Strings

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string: `string[start:end]`

Try it out! Slice the following string in a way, so that only "World" gets returned.

Note: The first character has index 0.

In [ ]:
message = "Hello, World!"
sliced_message = 
print(sliced_message) # "World"

By leaving out the start index, the range will start at the first character, and vice verca!

Try it out!

In [2]:
# your code here

## Modifiy Strings

The string class comes with many useful methods: [Link](https://www.w3schools.com/python/python_strings_methods.asp)

Let's try some of the more common one out!

### Split Strings

The `split()` method returns a list where the text between the specified separator becomes the list items.

In [ ]:
countries = "Switzerland:Germany:France:Italy:Austria:Liechtenstein"
splitted_countries = countries.split(":")
print(splitted_countries) # ['Switzerland', 'Germany', 'France', 'Italy', 'Austria', 'Liechtenstein']

### Upper / lower case

In [ ]:
message = "Hello, World!"
print(message.upper())

Try out the `lower()` method!

In [4]:
# your code here

### Replace

The `replace()` method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Replace the word World with Switzerland!

In [6]:
# Your code here

## Concatenate Strings

To concatenate, or combine, two strings you can use the + operator.

Try it out! Combine the strings:

In [ ]:
string1 = "Hello"
string2 = "World!"
hello_world =

print(hello_world) # "Hello, World!"

## Exercise

Write a Python function that takes a string as input and performs the following operations:

- Converts the string to lowercase.
- Removes any leading and trailing whitespace.
- Replaces all spaces with underscores (_).
- Counts the number of vowels (a, e, i, o, u) in the string.
- Returns the modified string and the count of vowels.

In [ ]:
def process_string(input_string):
    # Your code here
    pass

# Example usage:
result = process_string("  Hello World!  ")
print(result)  # Output: ('hello_world!', 3)

## String formatting

Even though string formatting doesn't have anything to do directly with the print function, it is often times used to format a string to print out to the console.

To format a string, you can place an `f` in front of the string and use placehoder `{}` which can contain variables, operations, functions, and modifiers to format the value.

In [ ]:
price = 49.64578424
txt = f"The price is {price} dollars, which is roughly {price:.2f} dollars"
print(txt)
print(f"Double the price is roughly {price*2:.0f}.- dollars.")
print(f"{price:.2f} dollars for two tickets is {'expensive' if price > 50 else 'cheap'}.")
print(f"{price:.2f} dollars for one ticket is {'expensive' if price > 25 else 'cheap'}.")
print(f"A million tickets would cost {price*1_000_000:.2f} dollars.")
print(f"This price is more readable with commas and rounded to a dollar: {price*1_000_000:,.0f}.- dollars.")
print()
print("Also, it is possible to print 'single quotation marks' by using double quotation marks")
print('and "double quotation marks" by using single quotation marks.')
print("""To print both 'single' and "double" quotation marks, use '''triple quotation marks'''.""")
print('''To use all at the same time('singe', "double", """triple(double)""") and '' 'triple(single)' '' (without a space)... well, don't you have bigger problems?.''')
print('''No? Here you go: 'single', "double", """triple(double)""" and \'\'\'triple(single)\'\'\' (indeed without a space).''')

## Exercise

Create the output shown as a comment by using all the given variables.

In [ ]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]
heights = [165.85, 180.25, 175.39, 192.56, 170.01]
for name, height in zip(names, heights):
    length = len(name)
    print(f'{name+":":15}{height:.1f} cm')

# Output:
'''
Alice:         165.8 cm
Bob:           180.2 cm
Charlie:       175.4 cm
David:         192.6 cm
Eve:           170.0 cm
'''

Here are examples for all the available string format modifiers:

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:
txt = f"We have {49:<8} chickens."
print(txt)

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use ">" to right-align the value:
txt = f"We have {49:>8} chickens."
print(txt)

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "^" to center-align the value:
txt = f"We have {49:^8} chickens."
print(txt)

In [ ]:
#To demonstrate, we insert the number 8 to specify the available space for the value.
#Use "=" to place the plus/minus sign at the left most position:
txt = f"The temperature is {-5:=8} degrees celsius."
print(txt)

In [ ]:
#Use "+" to always indicate if the number is positive or negative:
txt = f"The temperature is between {-3:+} and {7:+} degrees celsius."
print(txt)

In [ ]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):
txt = f"The temperature is between {-3:-} and {7:-} degrees celsius."
print(txt)

In [ ]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = f"The temperature is between {-3: } and {7: } degrees celsius."
print(txt)

In [ ]:
#Use "," to add a comma as a thousand separator:
txt = f"The universe is {13800000000:,} years old."
print(txt)

In [ ]:
#Use "_" to add a underscore character as a thousand separator:
txt = f"The universe is {13800000000:_} years old."
print(txt)

In [ ]:
#Use "b" to convert the number into binary format:
txt = f"The binary version of 5 is {5:b}"
print(txt)

In [ ]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt = f"We have {0b101:d} chickens."
print(txt)

In [ ]:
#Use "e" to convert a number into scientific number format (with a lower-case e):
txt = f"We have {50_000:e} chickens."
print(txt)

#Use "E" to convert a number into scientific number format (with an upper-case E):
txt = f"We have {50_000:E} chickens."
print(txt)

In [ ]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:
txt = f"The price is {45:.2f} dollars."
print(txt)

#without the ".2" inside the placeholder, this number will be displayed like this:
txt = f"The price is {45:f} dollars."
print(txt)

#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:
x = float('inf')
txt = f"The price is {x:F} dollars."
print(txt)

#same example, but with a lower case f:
txt = f"The price is {x:f} dollars."
print(txt)

In [ ]:
#Use "o" to convert the number into octal format:
txt = f"The octal version of 10 is {10:o}"
print(txt)

In [ ]:
#Use "x" to convert the number into Hex format:
txt = f"The Hexadecimal version of 255 is {255:x}"
print(txt)

#Use "X" to convert the number into upper-case Hex format:
txt = f"The Hexadecimal version of 255 is {255:X}"
print(txt)

In [ ]:
#Use "%" to convert the number into a percentage format:
txt = f"You scored {0.25:%}"
print(txt)

#Or, without any decimals:
txt = f"You scored {0.25:.0%}"
print(txt)